<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doyley.backgroundvideo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
			android:name=".activity.VideoPlayerActivity"
			android:label="@string/title_activity_video" >
		</activity>

        <service
            android:name=".service.VideoService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
